@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px dashed red; */
}
body{
    background: #3C3C3C
}
h1{
    text-align: center;
    color: white;
    height: 1.5em;
    line-height: 60px;
}
.col-6{
    background: royalblue;
    border-radius: 10px;
}
.list-group-item{
    list-style-type:none;
    background: #F8F9FA;
}
.counter {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    color: gray;
    text-align: start;
}
.list-group-item i{
    visibility: hidden;
}

.list-group-item:hover i{
    visibility: visible;
}
.validacion{
    color: white;
}
.col-lg-2{
    max-width: 120px;
}